.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue;
}

#logo{
    display: flex;
    flex-direction: row;
}

#image-chat{
    height: 30px;
    width: 30px;
    border-radius: 25px;
    margin-right: 20px;
}

#title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#button-profile{
    background-color: transparent;
    border: none;
}
#logged {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#image-profile {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#button-contact {
    height: 30px;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
}
